In [40]:
#!pip install autoscraper

In [41]:
from autoscraper import AutoScraper

In [42]:
## swiggy coimbatore data
url="https://www.swiggy.com/city/coimbatore"

wanted_list=["MSR Biriyani Hotel", "3.8", "₹200 FOR TWO"]

In [43]:
scraper=AutoScraper()
result=scraper.build(url,wanted_list)
print(result)

['MSR Biriyani Hotel', "Nani's Biriyani", 'THE BAY GRILL', 'KMR  Bhai Biriyani', 'Burger Spot', "Shaji's Dhaba", 'Night Eat', 'HOTEL VIGNESH', 'Crazy burgers', 'Hotel New City Gate', 'Pizza Point', 'Hindusthan dhaba', 'THENDARAL RESTAURANT', 'Srinika Home Made Foods', "Godwin's Foody Buddy Garden and Family Restaurant", 'SS PUNJABI DHABA', '3.8', '4.0', '3.5', '4.3', '3.2', '3.7', '3.4', '4.1', '₹200 FOR TWO', '₹300 FOR TWO', '₹100 FOR TWO', '₹1000 FOR TWO', '₹250 FOR TWO']

In [44]:
Results = scraper.get_result_similar(url,grouped=True)

In [45]:
Results

{'rule_52pr': ['MSR Biriyani Hotel',
  "Nani's Biriyani",
  'THE BAY GRILL',
  'KMR  Bhai Biriyani',
  'Burger Spot',
  "Shaji's Dhaba",
  'Night Eat',
  'HOTEL VIGNESH',
  'Crazy burgers',
  'Hotel New City Gate',
  'Pizza Point',
  'Hindusthan dhaba',
  'THENDARAL RESTAURANT',
  'Srinika Home Made Foods',
  "Godwin's Foody Buddy Garden and Family Restaurant",
  'SS PUNJABI DHABA'],
 'rule_b6lo': ['MSR Biriyani Hotel',
  "Nani's Biriyani",
  'THE BAY GRILL',
  'KMR  Bhai Biriyani',
  'Burger Spot',
  "Shaji's Dhaba",
  'Night Eat',
  'HOTEL VIGNESH',
  'Crazy burgers',
  'Hotel New City Gate',
  'Pizza Point',
  'Hindusthan dhaba',
  'THENDARAL RESTAURANT',
  'Srinika Home Made Foods',
  "Godwin's Foody Buddy Garden and Family Restaurant",
  'SS PUNJABI DHABA'],
 'rule_0v4j': ['3.8',
  '3.8',
  '4.0',
  '3.8',
  '3.8',
  '3.8',
  '3.5',
  '4.3',
  '3.8',
  '3.5',
  '3.2',
  '3.7',
  '3.4',
  '4.1',
  '4.1',
  '4.3'],
 'rule_a0og': ['3.8',
  '3.8',
  '4.0',
  '3.8',
  '3.8',
  '3.8',
  '3.5',
  '4.3',
  '3.8',
  '3.5',
  '3.2',
  '3.7',
  '3.4',
  '4.1',
  '4.1',
  '4.3'],
 'rule_s4wc': ['3.8',
  '3.8',
  '4.0',
  '3.8',
  '3.8',
  '3.8',
  '3.5',
  '4.3',
  '3.8',
  '3.5',
  '3.2',
  '3.7',
  '3.4',
  '4.1',
  '4.1',
  '4.3'],
 'rule_zft7': ['3.8',
  '3.8',
  '4.0',
  '3.8',
  '3.8',
  '3.8',
  '3.5',
  '4.3',
  '3.8',
  '3.5',
  '3.2',
  '3.7',
  '3.4',
  '4.1',
  '4.1',
  '4.3'],
 'rule_sd4m': ['3.8',
  '3.8',
  '4.0',
  '3.8',
  '3.8',
  '3.8',
  '3.5',
  '4.3',
  '3.8',
  '3.5',
  '3.2',
  '3.7',
  '3.4',
  '4.1',
  '4.1',
  '4.3'],
 'rule_osw0': ['3.8',
  '3.8',
  '4.0',
  '3.8',
  '3.8',
  '3.8',
  '3.5',
  '4.3',
  '3.8',
  '3.5',
  '3.2',
  '3.7',
  '3.4',
  '4.1',
  '4.1',
  '4.3'],
 'rule_ynsh': ['₹200 FOR TWO',
  '₹200 FOR TWO',
  '₹300 FOR TWO',
  '₹200 FOR TWO',
  '₹300 FOR TWO',
  '₹300 FOR TWO',
  '₹200 FOR TWO',
  '₹100 FOR TWO',
  '₹300 FOR TWO',
  '₹300 FOR TWO',
  '₹300 FOR TWO',
  '₹300 FOR TWO',
  '₹300 FOR TWO',
  '₹1000 FOR TWO',
  '₹200 FOR TWO',
  '₹250 FOR TWO'],
 'rule_avwu': ['₹200 FOR TWO',
  '₹200 FOR TWO',
  '₹300 FOR TWO',
  '₹200 FOR TWO',
  '₹300 FOR TWO',
  '₹300 FOR TWO',
  '₹200 FOR TWO',
  '₹100 FOR TWO',
  '₹300 FOR TWO',
  '₹300 FOR TWO',
  '₹300 FOR TWO',
  '₹300 FOR TWO',
  '₹300 FOR TWO',
  '₹1000 FOR TWO',
  '₹200 FOR TWO',
  '₹250 FOR TWO'],
 'rule_01aa': ['₹200 FOR TWO',
  '₹200 FOR TWO',
  '₹300 FOR TWO',
  '₹200 FOR TWO',
  '₹300 FOR TWO',
  '₹300 FOR TWO',
  '₹200 FOR TWO',
  '₹100 FOR TWO',
  '₹300 FOR TWO',
  '₹300 FOR TWO',
  '₹300 FOR TWO',
  '₹300 FOR TWO',
  '₹300 FOR TWO',
  '₹1000 FOR TWO',
  '₹200 FOR TWO',
  '₹250 FOR TWO'],
 'rule_nma6': ['₹200 FOR TWO',
  '₹200 FOR TWO',
  '₹300 FOR TWO',
  '₹200 FOR TWO',
  '₹300 FOR TWO',
  '₹300 FOR TWO',
  '₹200 FOR TWO',
  '₹100 FOR TWO',
  '₹300 FOR TWO',
  '₹300 FOR TWO',
  '₹300 FOR TWO',
  '₹300 FOR TWO',
  '₹300 FOR TWO',
  '₹1000 FOR TWO',
  '₹200 FOR TWO',
  '₹250 FOR TWO'],
 'rule_2b2q': ['₹200 FOR TWO',
  '₹200 FOR TWO',
  '₹300 FOR TWO',
  '₹200 FOR TWO',
  '₹300 FOR TWO',
  '₹300 FOR TWO',
  '₹200 FOR TWO',
  '₹100 FOR TWO',
  '₹300 FOR TWO',
  '₹300 FOR TWO',
  '₹300 FOR TWO',
  '₹300 FOR TWO',
  '₹300 FOR TWO',
  '₹1000 FOR TWO',
  '₹200 FOR TWO',
  '₹250 FOR TWO']}

In [46]:
Df1 = pd.DataFrame(Results)
Df1

,rule_52pr,rule_b6lo,rule_0v4j,rule_a0og,rule_s4wc,rule_zft7,rule_sd4m,rule_osw0,rule_ynsh,rule_avwu,rule_01aa,rule_nma6,rule_2b2q
0,MSR Biriyani Hotel,MSR Biriyani Hotel,3.8,3.8,3.8,3.8,3.8,3.8,₹200 FOR TWO,₹200 FOR TWO,₹200 FOR TWO,₹200 FOR TWO,₹200 FOR TWO
1,Nani's Biriyani,Nani's Biriyani,3.8,3.8,3.8,3.8,3.8,3.8,₹200 FOR TWO,₹200 FOR TWO,₹200 FOR TWO,₹200 FOR TWO,₹200 FOR TWO
2,THE BAY GRILL,THE BAY GRILL,4.0,4.0,4.0,4.0,4.0,4.0,₹300 FOR TWO,₹300 FOR TWO,₹300 FOR TWO,₹300 FOR TWO,₹300 FOR TWO
3,KMR Bhai Biriyani,KMR Bhai Biriyani,3.8,3.8,3.8,3.8,3.8,3.8,₹200 FOR TWO,₹200 FOR TWO,₹200 FOR TWO,₹200 FOR TWO,₹200 FOR TWO
4,Burger Spot,Burger Spot,3.8,3.8,3.8,3.8,3.8,3.8,₹300 FOR TWO,₹300 FOR TWO,₹300 FOR TWO,₹300 FOR TWO,₹300 FOR TWO
5,Shaji's Dhaba,Shaji's Dhaba,3.8,3.8,3.8,3.8,3.8,3.8,₹300 FOR TWO,₹300 FOR TWO,₹300 FOR TWO,₹300 FOR TWO,₹300 FOR TWO
6,Night Eat,Night Eat,3.5,3.5,3.5,3.5,3.5,3.5,₹200 FOR TWO,₹200 FOR TWO,₹200 FOR TWO,₹200 FOR TWO,₹200 FOR TWO
7,HOTEL VIGNESH,HOTEL VIGNESH,4.3,4.3,4.3,4.3,4.3,4.3,₹100 FOR TWO,₹100 FOR TWO,₹100 FOR TWO,₹100 FOR TWO,₹100 FOR TWO
8,Crazy burgers,Crazy burgers,3.8,3.8,3.8,3.8,3.8,3.8,₹300 FOR TWO,₹300 FOR TWO,₹300 FOR TWO,₹300 FOR TWO,₹300 FOR TWO
9,Hotel New City Gate,Hotel New City Gate,3.5,3.5,3.5,3.5,3.5,3.5,₹300 FOR TWO,₹300 FOR TWO,₹300 FOR TWO,₹300 FOR TWO,₹300 FOR TWO
10,Pizza Point,Pizza Point,3.2,3.2,3.2,3.2,3.2,3.2,₹300 FOR TWO,₹300 FOR TWO,₹300 FOR TWO,₹300 FOR TWO,₹300 FOR TWO
11,Hindusthan dhaba,Hindusthan dhaba,3.7,3.7,3.7,3.7,3.7,3.7,₹300 FOR TWO,₹300 FOR TWO,₹300 FOR TWO,₹300 FOR TWO,₹300 FOR TWO
12,THENDARAL RESTAURANT,THENDARAL RESTAURANT,3.4,3.4,3.4,3.4,3.4,3.4,₹300 FOR TWO,₹300 FOR TWO,₹300 FOR TWO,₹300 FOR TWO,₹300 FOR TWO
13,Srinika Home Made Foods,Srinika Home Made Foods,4.1,4.1,4.1,4.1,4.1,4.1,₹1000 FOR TWO,₹1000 FOR TWO,₹1000 FOR TWO,₹1000 FOR TWO,₹1000 FOR TWO
14,Godwin's Foody Buddy Garden and Family Restaurant,Godwin's Foody Buddy Garden and Family Restaurant,4.1,4.1,4.1,4.1,4.1,4.1,₹200 FOR TWO,₹200 FOR TWO,₹200 FOR TWO,₹200 FOR TWO,₹200 FOR TWO
15,SS PUNJABI DHABA,SS PUNJABI DHABA,4.3,4.3,4.3,4.3,4.3,4.3,₹250 FOR TWO,₹250 FOR TWO,₹250 FOR TWO,₹250 FOR TWO,₹250 FOR TWO

In [47]:
Df1.drop(Df1.columns[[1, 3, 4, 5, 6, 7, 9, 10, 11, 12]], axis=1, inplace=True)
Df1

                                            rule_52pr rule_0v4j      rule_ynsh
0                                  MSR Biriyani Hotel       3.8   ₹200 FOR TWO
1                                     Nani's Biriyani       3.8   ₹200 FOR TWO
2                                       THE BAY GRILL       4.0   ₹300 FOR TWO
3                                  KMR  Bhai Biriyani       3.8   ₹200 FOR TWO
4                                         Burger Spot       3.8   ₹300 FOR TWO
5                                       Shaji's Dhaba       3.8   ₹300 FOR TWO
6                                           Night Eat       3.5   ₹200 FOR TWO
7                                       HOTEL VIGNESH       4.3   ₹100 FOR TWO
8                                       Crazy burgers       3.8   ₹300 FOR TWO
9                                 Hotel New City Gate       3.5   ₹300 FOR TWO
10                                        Pizza Point       3.2   ₹300 FOR TWO
11                                   Hindusthan dhaba       3.7   ₹300 FOR TWO
12                               THENDARAL RESTAURANT       3.4   ₹300 FOR TWO
13                            Srinika Home Made Foods       4.1  ₹1000 FOR TWO
14  Godwin's Foody Buddy Garden and Family Restaurant       4.1   ₹200 FOR TWO
15                                   SS PUNJABI DHABA       4.3   ₹250 FOR TWO

In [48]:
Df1.rename(columns = {'rule_52pr':'Hotel_Name', 'rule_0v4j': 'Ratings', 'rule_ynsh':'Price' }, inplace = True)

In [50]:
Df1

                                           Hotel_Name Ratings          Price
0                                  MSR Biriyani Hotel     3.8   ₹200 FOR TWO
1                                     Nani's Biriyani     3.8   ₹200 FOR TWO
2                                       THE BAY GRILL     4.0   ₹300 FOR TWO
3                                  KMR  Bhai Biriyani     3.8   ₹200 FOR TWO
4                                         Burger Spot     3.8   ₹300 FOR TWO
5                                       Shaji's Dhaba     3.8   ₹300 FOR TWO
6                                           Night Eat     3.5   ₹200 FOR TWO
7                                       HOTEL VIGNESH     4.3   ₹100 FOR TWO
8                                       Crazy burgers     3.8   ₹300 FOR TWO
9                                 Hotel New City Gate     3.5   ₹300 FOR TWO
10                                        Pizza Point     3.2   ₹300 FOR TWO
11                                   Hindusthan dhaba     3.7   ₹300 FOR TWO
12                               THENDARAL RESTAURANT     3.4   ₹300 FOR TWO
13                            Srinika Home Made Foods     4.1  ₹1000 FOR TWO
14  Godwin's Foody Buddy Garden and Family Restaurant     4.1   ₹200 FOR TWO
15                                   SS PUNJABI DHABA     4.3   ₹250 FOR TWO

In [55]:
## Saving the scraper for future use (to scrape other link as same as like )
scraper.set_rule_aliases({'rule_52pr':'Hotel_Name','rule_0v4j':'Ratings', 'rule_ynsh':'Price'})
scraper.keep_rules(['rule_52pr','rule_0v4j', 'rule_ynsh'])
scraper.save('Swiggy Coimbatore1-search')

In [56]:
##similarly getting the data without coding using the saved scraper (Swiggy-banglore data)
results=scraper.get_result_similar('https://www.swiggy.com/city/bangalore/top-rated-collection',group_by_alias=True)

In [57]:
results

{'Hotel_Name': ['MOKA ON THE GO',
  'Prasuma Momo Kitchen',
  'FlavorVille',
  "ROYCE' Chocolate",
  'Fabelle Chocolates - ITC Gardenia',
  'Brown Burger Co Jayanagar',
  'Paradise Premium',
  'Dhanraj ji Chole Bhature',
  'Hotel Raghavendra Prasanna',
  'Lifetree',
  'The IceCream Zone',
  'FB Cafe By Frozen Bottle',
  'Treaty Hub',
  'Dum Pukht Biryani by Aromas',
  'Happy Belly Bakes- Cakes and Desserts',
  'Cafe Amudham'],
 'Ratings': ['5.0',
  '5.0',
  '4.9',
  '4.9',
  '4.9',
  '4.9',
  '4.9',
  '4.9',
  '4.9',
  '4.8',
  '4.8',
  '4.8',
  '4.8',
  '4.7',
  '4.7',
  '4.7'],
 'Price': ['₹300 FOR TWO',
  '₹129 FOR TWO',
  '₹450 FOR TWO',
  '₹750 FOR TWO',
  '₹600 FOR TWO',
  '₹199 FOR TWO',
  '₹350 FOR TWO',
  '₹150 FOR TWO',
  '₹200 FOR TWO',
  '₹350 FOR TWO',
  '₹250 FOR TWO',
  '₹500 FOR TWO',
  '₹250 FOR TWO',
  '₹500 FOR TWO',
  '₹500 FOR TWO',
  '₹400 FOR TWO']}

In [58]:
Df2 = pd.DataFrame(results)
Df2

                               Hotel_Name Ratings         Price
0                          MOKA ON THE GO     5.0  ₹300 FOR TWO
1                    Prasuma Momo Kitchen     5.0  ₹129 FOR TWO
2                             FlavorVille     4.9  ₹450 FOR TWO
3                        ROYCE' Chocolate     4.9  ₹750 FOR TWO
4       Fabelle Chocolates - ITC Gardenia     4.9  ₹600 FOR TWO
5               Brown Burger Co Jayanagar     4.9  ₹199 FOR TWO
6                        Paradise Premium     4.9  ₹350 FOR TWO
7                Dhanraj ji Chole Bhature     4.9  ₹150 FOR TWO
8              Hotel Raghavendra Prasanna     4.9  ₹200 FOR TWO
9                                Lifetree     4.8  ₹350 FOR TWO
10                      The IceCream Zone     4.8  ₹250 FOR TWO
11               FB Cafe By Frozen Bottle     4.8  ₹500 FOR TWO
12                             Treaty Hub     4.8  ₹250 FOR TWO
13            Dum Pukht Biryani by Aromas     4.7  ₹500 FOR TWO
14  Happy Belly Bakes- Cakes and Desserts     4.7  ₹500 FOR TWO
15                           Cafe Amudham     4.7  ₹400 FOR TWO